.DS_Store
.#*
*~
*.bak
~$*
._*
*.o
*.so
*.dylib
**/.DS_Store
*.orig
*.reject
..Rcheck
.Rbuildignore
.Rhistory
.Rapp.history
.RData
*.Rproj
.build
*.zip
*.pdf
*.html
*.md
*.gpg
.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
doc
Meta
